// Colors

$mainColor: #1d1f1f;
$darkColor: #292929;
$prmColor:  #f4a600;

// Transition

$transition: .3s;

// Media

$desctop: 1600px;
$laptop: 1366px;
$tablet-hor: 1280px;
$tablet: 1024px;
$qHD: 768px;
$mobile: 475px;
$mobile-small: 360px;

// Opacity

$noize: 0.04;
