.product {

    &__wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__item {
        position: relative;
        margin-bottom: 62px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #cdcdcd;
        padding: 43px 39px 31px 20px;


        &-inner {
            display: flex;
            flex-direction: column;
            width: 50%;

            padding-left: 60px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.6px;
    }

    &__size {
        color: $lightColor;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.35px;
        padding-bottom: 15px;
    }

    &__desc {
        font-size: 14px;
        line-height: 18px;
    }

    &__list {
        column-count: 2;
        margin-top: 20px;

        &-item {
            display: inline-block;
            position: relative;
            padding-bottom: 6px;


            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 7px;
                left: 0;
                min-width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $selectColor;
            }

            span {
                display: block;
                padding-left: 10px;
                line-height: 18px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__calc {
        &-item {
            font-size: 20px;

            &--bold {
                padding-left: 9px;
                letter-spacing: 0.6;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    &__deplication {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        border-radius: 10px;
        border: 1px solid #cdcdcd;
        background-color: #ffffff;
        margin-top: 13px;

        &-title {
            max-width: 300px;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }

        &-inner {
            display: flex;
            align-items: center;
        }

        &-item {
            width: 70px;
            height: 70px;
            background-color: $selectColor;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 22px;

            &--door {
                background-image: url(../img/icon/door.png);
            }

            &--window {
                background-image: url(../img/icon/window.png);
            }

            &--socet {
                background-image: url(../img/icon/socket.png);
            }

            &--lamp {
                background-image: url(../img/icon/lamp.png);
            }

            &--bedside {
                background-image: url(../img/icon/bedside.png);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }


    &__link {
        display: block;
        position: absolute;
        top: 29px;
        right: 39px;
        width: 51px;
        height: 51px;
        background-image: url(../img/icon/product-icon.svg);

    }

}